<h3>{{pluginname}}</h3>
<br>
<br>

<div class="container">
    <div class="course-recommendations owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                {{#categories}}
                <div class="owl-item">
                    <div class="single-courses-box">

                        <!-- Add an image for each category -->
                        <div class="image">
                            <img class="img-whp" src="{{image_url}}" alt="{{name}}">
                            <a class="link-btn" href="{{course_url}}"></a>
                        </div>

                        <!-- Add the content -->
                        <div class="content">
                            <h3>{{name}}</h3>
                            <a>Modified {{modified}}</a>

                            <div class="price">
                                <span>{{coursecategoriescount}} Course categories</span>
                            </div>
                        </div>

                    </div>
                </div>
                {{/categories}}
            </div>
        </div>
    </div>
</div>